body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.replies {
    margin-left: 20px;
}

.reply {
    font-size: smaller;
}
.image-container {
    text-align: center; /* 画像とボタンを中央に揃えたい場合 */
}

.image-buttons {
    margin-top: 10px; /* 画像とボタンの間にスペースを追加 */
}

.edit-btn, .delete-btn {
    margin: 0 5px; /* ボタン間のスペースを調整 */
    padding: 5px 10px;
    font-size: 14px;
}
#delete-error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
.error {
    color: red;
}
.errorlist {
    color: red;
    font-size: 14px;
    list-style-type: none;  /* リストスタイルを消す */
    padding-left: 0;        /* 左側の余白をなくす */
}
/* messagesフレームワークのエラーメッセージを赤文字にする */
/* .message.error {
    color: red;
    font-weight: bold;
} */
/* バリデーションエラーメッセージやフォームエラーメッセージを赤文字に設定 */
/* .errorlist li, .invalid-feedback, .form-error {
    color: red;
    font-weight: bold;
} */

/* さらに、Bootstrapの警告クラスが使われている場合に対応する例 */
/* .alert-danger {
    color: red;
} */
